# Environment variables
.env
.env.*
!.env.example

# Editor directories and files
.vscode/
.idea/

# Dependencies
node_modules/
package-lock.json
yarn.lock

# Wallets and keys
# /wallet/
# /src/wallet/
*.json
!package.json
!tsconfig.json
!metadata.json

# Don't commit secret keys or sensitive files
*.key
*.pem
*.secret
